table {
  width: 100%;
}
    
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}
  
th.mat-header-cell {
    text-align: left;
    max-width: 200px;
}
  
.mat-form-field {
    margin: 1rem !important;
    width: 50% !important;
}
  
.mat-table {
    margin: 1rem !important;
}

.hide{
    display: none;
}

.display{
    display: block;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

cdk-virtual-scroll-viewport {
    .item {
        height: 24px;
    }
}