<mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

<mat-form-field *ngIf="!spinner">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table *ngIf="!spinner" [dataSource]="dataSource">

  <ng-container cdkColumnDef="userName">
      <mat-header-cell *cdkHeaderCellDef> User name </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.displayName}} </mat-cell>
    </ng-container>

  <ng-container cdkColumnDef="email">
      <mat-header-cell *cdkHeaderCellDef> email </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <a href="mailto:{{row.userPrincipalName}}">{{row.userPrincipalName}}</a>
      </mat-cell>
    </ng-container>

  <ng-container cdkColumnDef="action" *ngIf="mobileQuery.matches"> 
    <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-icon-button color="primary" routerLink="/contacts/{{row.id}}">
        <mat-icon class="mat-18" svgIcon="view" aria-hidden="false" aria-label="profile SVG icon"></mat-icon>view
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="mobileQuery.matches ? ['userName', 'email', 'action'] : ['userName', 'email']"></mat-header-row>
  <mat-row (click)="mobileQuery.matches ? null : viewUserDetails()" *cdkRowDef="let row; columns: mobileQuery.matches ? ['userName', 'email', 'action'] : ['userName', 'email']"></mat-row>
</mat-table>