<mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

<mat-form-field *ngIf="!spinner">
  <mat-label>
    <fa-icon class="mat-18" [icon]="['fa', 'search']" aria-hidden="false" aria-label="profile SVG icon"></fa-icon>
  </mat-label>
  <input [(ngModel)]="searchText" matInput placeholder="Search contact ">
</mat-form-field>

<ng-container *ngIf="(infinate$ | async) as infinate" #list>
  <cdk-virtual-scroll-viewport itemSize="24" fxFlex="1 grow"
    (scrolledIndexChange)="loadNextUsers($event, infinate.nextLink)">
    <mat-list>
      <h3 mat-subheader>Organisation Contacts</h3>
      <mat-divider></mat-divider>
      <mat-list-item *cdkVirtualFor="let user of infinate.data | filter : searchText"
        routerLink="/contacts/{{user.id}}">
        <fa-icon mat-list-icon [icon]="['far', 'user-circle']"></fa-icon>
        <h4 mat-line>{{user.displayName}}</h4>
        <p mat-line> {{user.userPrincipalName}} </p>
        <fa-icon class="mat-18" [icon]="['fas', 'edit']" aria-hidden="false" aria-label="profile SVG icon"></fa-icon>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</ng-container>