/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-grid-tile .mat-figure {
    position: relative !important;
    display: block !important;
}

.td.mat-cell:last-of-type {
    padding-right: 0 !important;
   }

.spinner {
    display: block;
    margin: 0 auto;
}

.grid-tile{
    left: 0 !important;
    width: 100% !important;
    padding-top: 0 !important;
    margin-top: 0px !important;
    position: relative !important;
}

.grid-tile-desktop{
    padding-top: 1rem !important;
    height: 100%;
}