<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container cdkColumnDef="position">
    <mat-header-cell *cdkHeaderCellDef> User name </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.position}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef> Age </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="weight">
    <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.weight}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="email-and-view">
    <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-icon-button color="warn">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="['position', 'name', 'weight', 'email-and-view']"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: ['position', 'name', 'weight', 'email-and-view']"></mat-row>
</mat-table>