.mat-grid-list{
    padding-bottom: 0 !important;
    height: 100%;
}

.day-events{
    background-color: #D86B6B;
}

.calendar-picker{
    padding: 0 3rem;
}

.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }