<mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

<div *ngIf="selectedDate">
    <fa-icon *ngIf="mobileQuery.matches" [icon]="['fas','angle-left']"></fa-icon>
</div>
<mat-grid-list cols="7">
    <mat-grid-tile class="day-events" [colspan]="3" *ngIf="calendarEvents"
        [ngClass]="mobileQuery.matches ? 'grid-tile' : 'grid-tile-desktop' ">
        <app-day-events *ngIf="!mobileQuery.matches" [desktopSelectedDate]="selectedDate"></app-day-events>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!hideCalendar" [colspan]="4"
        [ngClass]="mobileQuery.matches ? 'grid-tile' : 'grid-tile-desktop' ">
        <mat-calendar *ngIf="!spinner" [ngClass]="mobileQuery.matches ? '' : 'calendar-picker' "  [dateClass]="dateClass" [selected]="selectedDate"
            (selectedChange)="getSelectedDate($event)"></mat-calendar>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="calendarEvents && calendarEvents.length <= 0">
    <div class="notification is-warning">
        {{"You have no scheduled events yet."}}
    </div>
</div>