.mat-grid-list{
    padding-bottom: 0 !important;
    height: 100%;
}

.mat-list-base{
    background-color: whitesmoke;
}

.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }