<mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

<div class="events-holder" *ngIf="calendarEvents && !spinner">
    <mat-grid-list class="grid-list" cols="1" rowHeight="6:1" *ngFor="let event of calendarEvents">
        <mat-grid-tile-header class="mat-grid-tile-heade-footer">
            <fa-icon [icon]="['far','calendar']" aria-hidden="false" aria-label="Example thumbs up SVG icon">
            </fa-icon>
            <h3>{{event.subject}}</h3>
            <p>
                    <!-- <i class="far fa-map-marker-alt"></i> -->
                <fa-icon [icon]="['fas','map-marker-alt']" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                </fa-icon><span>{{event.location.uniqueId}}</span>
            </p>
        </mat-grid-tile-header>
        <mat-grid-tile-footer class="mat-grid-tile-heade-footer">
            <p>
                <fa-icon [icon]="['fa','hourglass-start']" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                </fa-icon>
                <span>{{event.start.dateTime | date: 'shortTime'}}</span>
            </p>
            <span>to</span>
            <p>
                <fa-icon [icon]="['fa','hourglass-end']" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                </fa-icon>
                <span> {{event.end.dateTime | date: 'shortTime'}}</span>
            </p>
        </mat-grid-tile-footer>
    </mat-grid-list>
</div>


<div *ngIf="calendarEvents && calendarEvents.length <= 0">
    <div class="notification is-warning">
        {{"You have no scheduled events yet."}}
    </div>
</div>