.mat-grid-list{
    padding-bottom: 0;
    height: 100%;
}

.grid-tile{
    left: 0 !important;
    width: 100% !important;
    padding-top: 0 !important;
    position: relative !important;
    height: 100%;
}

.grid-tile-desktop{
    padding-top: 0 !important;
    height: 100%;
}

.mat-list-base{
    background-color: whitesmoke;
}

.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }