<mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

<div *ngIf="selectedDate">
    <fa-icon *ngIf="mobileQuery.matches" [icon]="['fas','angle-left']"></fa-icon>
</div>
<h4>Upcomming Events</h4>
<mat-grid-list cols="3">
    <mat-grid-tile *ngIf="!hideCalendar" [colspan]="2"
        [ngClass]="mobileQuery.matches ? 'grid-tile' : 'grid-tile-desktop' ">
        <mat-calendar *ngIf="!spinner" [dateClass]="dateClass" [selected]="selectedDate"
            (selectedChange)="getSelectedDate($event)"></mat-calendar>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="calendarEvents" [ngClass]="mobileQuery.matches ? 'grid-tile' : 'grid-tile-desktop' ">
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let event of calendarEvents">
                <fa-icon [icon]="['far', 'circle']" mat-list-icon></fa-icon>
                <h4 mat-line>{{event.subject}}</h4>
                <p mat-line> {{event.location.uniqueId}}</p>
                <h3 class="mat-18">{{event.start.dateTime | date}}</h3>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="calendarEvents && calendarEvents.length <= 0">
    <div class="notification is-warning">
        {{"You have no scheduled events yet."}}
    </div>
</div>